[Unit]
Description=GLPI Docker Compose Service
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/timba/Projects/Docker/glpi
Restart=always
ExecStart=/usr/bin/docker compose -f glpi.yml up
ExecStop=/usr/bin/docker compose -f glpi.yml down

[Install]
WantedBy=multi-user.target
